.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  overflow: hidden;
}

.logo {
  height: 32px;
  width: 228px;
  background-repeat: no-repeat;
}

 .logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0 0 0 64px;
  z-index: 1;
}

.header__subtitle {
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  margin: 0;
  left: 64px;
  bottom: 30px;
  z-index: 1;
}

.header__link {
  z-index: 1;
  color: #2f80ed;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.header__main-illustration{
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.content {
  margin: 0;
  padding: 0;
}

.description {
  margin: 0;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: center;
}

.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 0 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 100px 0;
}

.section-title {
  width: 60%;
  padding-bottom: 20px;
  line-height: 1.15;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.table {
  width: 1100px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 0;
  margin-top: 60px;
  padding: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.feynman {
  min-height: 890px;
  background: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0;
}

.feynman__title {
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin: 100px 0 0 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 70px 0 0 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 40px;
  color: #2f80ed;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  margin: 0;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}

.section-title_theme_dark {
  margin: 0;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table_theme_dark {
  margin: 0;
  z-index: 1;
}

.table__cell_theme_dark {
  color: white;
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  z-index: 1;
}

.table__text_theme_dark {
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size:contain;
  z-index: 0;
  top: 0;
  right: -210px;
}

.footer {
  min-height: 350px;
  margin: 0;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  display: block;
  padding: 0;
}

.footer__column-link {
  color: white;
  display: block;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.techniques {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 100px 0 0 0;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 100px;
  list-style: none;
  width: 920px;
  margin: 0;
  padding: 0;

}

.cards__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 240px;
  margin: 60px 0 0 0;
}

.cards__image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 40px 43px 40px;
}

.cards__title {
  border: 2px solid red;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 16px 0;
}

.cards__description {
  border: 2px solid red;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.oakley {
  margin: 0;
  padding-top: 160px;
  display: flex;
  justify-content: center;
  background: #f2f2f2;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 100px 0 0 0;
  border: 2px solid red;
}

.video__iframes {
  display: flex;
  justify-content:space-between;
  column-gap: 20px;
  transform: translate(0, 50px);
}

.video__iframe {
  width: 515px;
  height: 316px;
  border: 0;
}

.khan {
  background: #f2f2f2;
  padding: 105px 0 0 0;
  display: flex;
  justify-content: center;
}

.khan__container {
  width: 80%;
}

.khan__author {
  border: 2px solid red;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  border: 2px solid red;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 0 50px 0;
}

.khan__quote {
  border: 2px solid red;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 36px 0;
  max-width: 790px;
}

.khan__quote-author {
  border: 2px solid red;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.khan__quote-author-subline {
  border: 2px solid red;
  line-height: 1.15;
  font-size: 24px;
  font-weight:normal;
  margin: 0 0 68px 0;
}

.khan__book-container {
  display: flex;
  border: 2px solid red;
}

.khan__book-pic {
  border: 2px solid red;
  height: 620px;
  width: 608px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  border: 2px solid red;
  line-height: 42px;
  font-size: 24px;
  font-weight:normal;
  margin: 0 0 0 48px;
  color: #2f80ed;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation linear 20s infinite;
  }

  .resources {
    padding: 0;
    margin: 100px 0 217px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
  }

  .resources__logo-zone {
    margin: 80px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    width: 1100px
    border: 2px solid red;
  }

  .resources__link {


  }
  .resources__logo {
    width: 270px;
    height: 38px;
    border: 2px solid red;
  }
  .link {
    text-decoration: none;

  }

  .link:hover {
    opacity: .4;
    transition: 1s;
  }
