.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}



.logo {
  height: 32px;
  width: 228px;
  background-repeat: no-repeat;
}

 .logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}


.content {
  margin: 0;
  padding: 0;
}







.table_theme_dark {
  margin: 0;
  z-index: 1;
}

.table__cell_theme_dark {
  color: white;
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  z-index: 1;
}

.table__text_theme_dark {
  z-index: 1;
}




.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  display: block;
  padding: 0;
}

.footer__column-link {
  color: white;
  display: block;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

  .resources__logo-zone {
    margin: 80px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    width: 1100px;
    border: 2px solid red;
  }

  .resources__link {


  }
  .resources__logo {
    width: 270px;
    height: 38px;
    border: 2px solid red;
  }

